* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #6d8da4;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
  column-rule: #d4af37;
  color: #f8fafc;
}

.head {
  text-align: center;
  overflow-wrap: break-word;
  padding-top: 20px;
}

input {
  box-shadow: 0 0px 20px #34200f;
  width: 250px;
  border: none;
  border-radius: 15px;
  padding: 12px;
  outline: none;
  transition: 0.3s;
}
#btn {
  width: 100px;
  height: 40px;

  background: linear-gradient(135deg, #f0c96b, #f8fbb1 #653705);
  padding: 10px;
  color: black;
  box-shadow: 0 6px 18px rgba(189, 184, 172, 0.6);

  border: none;
  border-radius: 15px;
}

#notes {
  padding: 10px 15px;
  cursor: pointer;
}

input:hover {
  box-shadow: 0 0 50px #fffefd;
}

.card {
  border: 4px solid #f9cf84;
  padding: 40px;
  box-shadow: 0 0 10px #f9e15e;
  width: 25%;
  color: #f8fafc;
  border-radius: 10px;
  height: 40vh;
}

.mainContainer {
  width: 100%;
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  height: 50vh;
}

#edit {
  background: linear-gradient(#c3d1de, #597e98);
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 12px;
  width: 12vh;
  color: white;
  color: white;

}
#del {
  color: white;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 13px;
  width: 12vh;

  background: linear-gradient(#c3d1de, #597e98);


}

.btnsDiv {
  display: flex;
  gap: 20px;
  padding-top: 54px;
}












/* Tablet */
@media (max-width:992px){
    .card{
        width:45%;
        height: 100vh;
    }
}

/* Mobile */
@media (max-width:768px){
    .card{
        width:90%;
        height: 100vh;
    }
}







@media (max-width:768px){

    .noteContainer{
        display:flex;
        flex-direction:column;
        gap:15px;
        align-items:center;
    }

    input{
        width:90%;
    }

    #btn{
        width:90%;
    }

    .btnsDiv{
        flex-direction:column;
        gap:10px;
        padding-top:25px;
    }

    #edit,
    #del{
        width:100%;
    }

}