*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
   background-color:  #0D0D0D;
   
 font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

h1{
    margin-bottom: 20px;
   column-rule: #d4af37;

}


input{
    width: 250px;
    border: none;
    padding: 10px;
    outline: none;
/* box-shadow: 0 0 50px rgba(124, 58, 237, 3); */
box-shadow: 0 0 50px #db4eee;
    transition: 0.3s;
}
#btn{
  
    width: 100px;
    height: 30px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

#notes{
    padding: 10px 15px;
    cursor: pointer;
}


input:hover{
    box-shadow: 0 0 50px rgba(212,175,55,0.5);
}

.card{
    border: 1px solid black;
    padding: 40px;
    background-color: aqua;
    width: 30%;
    border-radius: 10px;
   
}


.mainContainer{
    width: 100%;
        margin-top: 30px;
    /* background-color: #9d13af; */
    display: flex;
    flex-wrap: wrap;
justify-content: center;
gap: 20px;
height: 50vh;
}

#edit{
    width: 80px;
    height: 35px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
      
}
  #del{
    width: 80px;
    height: 35px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
      
}
  
  
